body{
    background: linear-gradient(to right,#98FB98,#DCDCDC,#98FB98);
}
.wrap{
    width: 40%;
    margin: auto;
    color: white;
    border-radius: 10px;
    font-family: comic sans ms;
    background-color: #00ff00;
}
.container{
    padding: 5px;
}
button{
    float: right;
    width: 50px;
    font-family: comic sans ms;
    height: 30px;
    background-color: #00FA9A;
    border-radius: 7px;
}